:root {
  --color-background-primary: #FFFFFF;
  --color-background-secondary: #F9F9F9;
  --color-background-dark-01: #091C28;
  --color-background-dark-02: #000000;
  --color-background-neutral: #EDEEEE;
  --color-feedback-success: #66CC66;
  --color-feedback-warning: #FFE06D;
  --color-feedback-waiting: #EDEEEE;
  --color-feedback-error: #FF7360;
  --color-text-primary: #333333;
  --color-text-secondary: #FFFFFF;
  --color-text-disabled: #C7C7CD;
  --color-interactive-01: #3399FF;
  --color-interactive-02: #A7A9AC;
  --font-family-base: 'SF UI Text';
  --font-size-root: 16px;
  --font-size-heading-1: 1.5625rem;
  --font-height-heading-1: 1.9375rem;
  --font-margin-heading-1: 0 0 0.375rem;
  --font-spacing-heading-1: -0.8px;
  --font-size-heading-2: 1.3125rem;
  --font-height-heading-2: 1.5rem;
  --font-margin-heading-2: 0 0 0 0.875rem;
  --font-spacing-heading-2: -0.933333px;
  --font-size-xl: 1.125rem;
  --font-height-xl: 1.3125rem;
  --font-size-l: 0.9375rem;
  --font-height-l: 1.3125rem;
  --font-size-m: 0.8125rem;
  --font-height-m: 0.9375rem;
  --font-size-s: 0.6875rem;
  --font-height-s: 0.8125rem;
  --font-size-xs: 0.5rem;
  --font-height-xs: 0.6875rem;
}
